html {
    background-image: url(../img/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.home-text{
    position: relative;
    top: 50px;
}

.buttons{
    margin-left: 20px;
}


.info-home {
    background-color: white;
    width: 900px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}

.users-loging{
    background-color: white;
    width: 900px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}