{% extends 'shop/index.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'shop/css/style_detail.css' %}">{% endblock %}
{% block title %}Drone{% endblock %}
{% block content %}
<div class="drone bg-dark">
    <h1 class="drone-name">{{drone.name}}</h1>
</div>
<div class="drone-img">
    <img src="{{drone.image.url}}" alt="">
</div>

<div class="main-text-drone">
    <h2>Product description</h2>
    <p class="text-muted">
      {{drone.specifications}}  
    </p>
    <hr>
    <div>
        <p class="text-muted">Model: <b class="info-drone">{{drone.model}}</b></p>
    </div>
    <hr>
    <div>
        <p class="text-muted">Category: <b class="info-drone">{{drone.category}}</b></p>
    </div>
    <hr>
    <div>
        <p class="text-muted">Price: <b class="info-drone">{{drone.price}}$</b></p>
    </div>
    <hr>
    <div>
        <p class="text-muted">Quantity: <b class="info-drone">{{drone.quantity}}</b></p>
    </div>
    <hr>
    <div>
        <p class="text-muted">Manufacturer: <b class="info-drone">{{drone.manufacturer}}</b></p>
    </div>
    <hr>
</div>

<div class="order-drone">
    <h1 class="text-order">Order a drone</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success button-order" type="submit">Create order</button>
    </form>
</div>

{% endblock %}